main
  max-width: 473px
  margin: 0 auto

h1
  text-align: center
  font-style: normal
  font-weight: bold
  font-size: 36px
  line-height: 41px
  margin: 0
  padding: 0

.content_wrapper
  margin-top: 82px
  display: flex
  flex-direction: column

.content
  margin-top: 35px
  display: flex
  flex-direction: column




