
  <input
    class="input-form search"
    type="text"
    #trigger="cdkOverlayOrigin"
    [formControl]="inputSearch"
    placeholder="Выберите из списка"
    #origin = "cdkOverlayOrigin"
    cdkOverlayOrigin
  >
  <div class="chips__list">
    <button class="chips" *ngFor="let selectedItem of selected" (click)="removeGenre(selectedItem)">
      {{ selectedItem.label }}
    </button>
  </div>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="overlayIsOpen"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayBackdropClass]="'backdrop'"
    (backdropClick)="close()"
    [cdkConnectedOverlayWidth]="375"
    [getContainerElement]=""
  >
    <div class="genre__list">
      <button class="genre" *ngFor="let item of genres" (click)="selectGenre(item)">
        {{ item.label  }}
      </button>
    </div>
  </ng-template>
  <div cdk-overlay-origin>

  </div>
