@import "src/app/pages/addfilm/addfilm.component.sass"
\:host
  display: flex
  flex-direction: column
  max-width: 473px
  width: 100%

.search
  width: 100%


.genre
  display: flex
  height: 28px

  cursor: pointer

  &:not(:last-child)
    border-bottom: 1px solid #cecece

  &__list
    width: 100%
    max-width: 1440px
    display: flex
    margin: 0 auto
    flex-direction: column

.backdrop
  background: green

.chips
  margin-top: 17px
  color: black
  padding: 6px 8px
  font-weight: 600
  background: none

  border: 2px solid #000000
  box-sizing: border-box
  border-radius: 14px
