<header>
  <div class="header_wrapper">
    <nav>
      <div class="left_nav">
        <a class="buttons_header">
          <img src="assets/Cinema.svg" class="button_icon"/>
          <p>Коллекция</p>
        </a>

        <a class="buttons_header isActive">
          <img src="assets/Vector.svg" class="button_icon is"/>
          <p>Добавить</p>
        </a>
      </div>
      <img src="assets/Watch_Later_Logo_Short.svg" class="logo" />
      <div class="right_nav">
        <button class="buttons_header">
          <img src="assets/search.svg" class="button_icon"/>
          <p>Поиск</p>
        </button>
        <a>
          <div class="user_avatar">
          </div>
        </a>
      </div>
    </nav>
  </div>
</header>
